<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Special for you, mom!</title>
    <link rel="icon" type="image/png" href="../resources/images/valentine heart.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/paper.css">
    <link rel="stylesheet" href="../css/mom.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>

    <div id="letters-section" class="container p-5 d-flex flex-column gap-2">
        
        <div class="paper">
            <p>
                Hi, ma! This is Raphael writing.

                Back in childhood, I used to carry that resentment I can’t even name. What I only know is that we never had someone with us in school events – let alone the table during meal. I hated the fact that every day, I had to prepare our breakfast first before taking a bath, I hated the fact that we must travel with no one to say goodbye, the fact that we have no one to share with what we did in school  and who bullied us, and the fact that you have to go far. 

                We outgrew ourselves and you never knew. To be honest, there were moments growing up where that absence felt like a choice you were making against us. I felt a resentment that I tucked away, a "hating" of the distance that kept us apart while you were working far away. 

                I didn't understand then that while I was counting the days until you came home, you were counting every cent to ensure we had a future.

                As I’ve grown older, the scales have finally fallen from my eyes. I realize now that being away from me wasn't your escape, it was your sacrifice. I cannot imagine the strength it took for you to endure the loneliness of a distant workplace, missing the milestones and the daily hugs, all so that I would never have to want for anything.

                The very things I hated as a child, the long hours, the distance, the missed moments, are the very things I now realize were the ultimate expression of your love. You traded your presence for my opportunity. You gave up your comfort so I could have foundation.

                Thank you, Mom, for loving us enough to be brave when it hurts. Thank you for working through the exhaustion and the distance. I finally see that you weren't "away” you were out there fighting for us.

                On Valentine’s Day, I want to bridge that old distance with all the appreciation I didn't know how to give back then. I love you, and I am so deeply grateful for everything you’ve done.

                With all my love and a heart full of understanding,
                Raphael

                p.s Well, I actually built a full-stack system for this project with the security I need to hide this from the public. I know someone unintended to read this will someday read this.

            </p>
        </div>
    </div>

</body>
</html>